.container {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  justify-content: center;
}

.img {
  max-width: 100%;
  height: 200px;
}

.buttons {
  margin-top: 20px;
}
